<!DOCTYPE html>
<html lang="en">
{% extends 'accounts/main.html' %}

{% block content %}
    <body>
    <h1>Change Your Password</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-last">
                <div class="row">
                    <div class="col">
                        <img src="{% static 'profile.png'%}">
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-first">
                <div class="profile">
                    <form method="post" action="updatePassword" >
                         {% csrf_token %}
                        <div class="form-group mt-6">
                            <label for name>Name </label>
                            <input type="text" name="name" class="form-control" value="{{ info.name }}" readonly>
                        </div>
                        <div class="form-group mt-6">
                            <label for name>Student Id </label>
                            <input type="text" name="student_id" value="{{ info.student_id }}" class="form-control" placeholder="{{ info.student_id }}" readonly>
                        </div>
                        <div class="form-group mt-6">
                            <label for name>Course </label>
                            <input type="text" class="form-control" placeholder="{{ info.course }}"readonly>
                        </div>
                        <div class="form-group mt-6">
                            <label for name>Password </label>
                            <input type="text" class="form-control" placeholder="new password"required>
                        </div>
                        <div class="form-group mt-6">
                            <label for name>Re-Enter Password </label>
                            <input type="text" class="form-control" placeholder="Re-enter new password"required>
                        </div>
                        <div class="row">
                            <div class="col-6">
                            <button type="submit" name="updatepassword" value="{{ info.student_id }}" class="btn btn-primary">update password</button>
                            </div>
                        </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}
</html>