{% extends 'bsi/main.html' %}

{%load static%}

{% block content %}

 <br>
    <div class="i-am-centered">

<form action="{% url 'sell' %}" method = "POST">
  {% csrf_token %}

            <div class="form-group">
                <label>Item Name </label>
                {{ form.item_name }}
            </div>
            <div class="form-group">
                <label>Price </label>
                {{ form.item_price }}
            </div>
            <div class="form-group">
                <label>Select You User ID</label>
                {{ form.student }}
            </div>
            <div class="form-group">
                <label>Item Description</label>
                {{ form.item_description }}
            </div>
            <div class="form-group">
                <label>Item Pic</label>
                {{ form.item_pic1 }}
            </div>
            <div class="form-group">
                <label>Select Item Status</label>
                {{ form.status }}
            </div>

  <input type="submit" name="Submit">

</form>
</div>
 {% endblock %}