{% extends 'bsi/main.html' %}
{% block content %}
{#<head><title>Your Posted Adds</title></head#}
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Your Posted Adds</h5>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>Item</th>
					<th>Pic</th>
					<th>Description</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
				{% for i in items %}
					<tr>
						<td>{{i.item_name}}</td>
						<td><img src = "{{i.item_pic1}}"></td>
						<td>{{i.item_description}}</td>
						<td>Rs {{i.item_price}}</td>
						<td>
							<a class="btn btn-primary  btn-sm btn-block" name="update" href="sell?pid={{ i.pk }}">Edit</a>
							<a class="btn btn-primary  btn-sm btn-block"  href="deletePost?pid={{ i.pk }}">Remove</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	
</div>

{% endblock content %}
