{% extends 'base.html' %}

{% block title %}
    Subjects
{% endblock %}

{% block body %}
    <div style="padding:40px;margin:40px;border:2px solid #ccc">
    <h1>Documents</h1>
    <hr>
    <br>
    <style>
        table, th, td{
            border : 1px solid black;
            border-collapse: collapse;
        }
        table.center {
            margin-left: fill;
            margin-right: fill;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        table {
            width: 100%;
        }
        th {
            color: white;
            background-color: gray;
        }
    </style>
    <table class="center">
      <thead>
        <tr>
          <th>Subject</th>
          <th>File Name</th>
          <th>Download File</th>
        </tr>
      </thead>
      <tbody>
        {% for document in documents %}
          <tr>
            <td>{{ document.subject }}</td>
            <td>{{ document.title }}</td>
            <td>
                <a href={{ document.file.url }} class="btn btn-primary btn-sm" type="_blank">Download</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
{% endblock %}

