
{% extends 'navbar.html' %}
{% load static %}
<head>

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block title %}
    profile
{% endblock title %}
</head>
{% block body %}

    <h1>Change Your Password</h1>
        <div class="container">
            <form method="post"  autocomplete="off">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 m-auto">
                <div class="form-group">
                    <label>Enter oldPassword</label>
                    <input class="form-control" type="password" name="oldpass">
                </div>
                <div class="form-group">
                    <label>Enter New Password</label>
                    <input class="form-control" type="password" name="newpass">
                </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" name="changepasswordconfirm" value="{{ usid }}">update</button>
                        </div>
                        </div>
                </div>
            </form>
        </div>
{% endblock body %}