{% extends 'lfi/main.html' %}
{% block content %}

<br>
{% if items %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Match Found</h5>
		</div>
		<div class="card card-body">
			<table class="table">
				<tr>
					<th>Item</th>
					<th>Pic</th>
					<th>Description</th>
					<th>Founded By</th>
					<th>Match Percent</th>
					<th>Message</th>
				</tr>
				{% for uli in items %}
					<tr>
						<td>{{uli.item_name}}</td>
						<td><img src= "{{uli.item_pic1}}">
						</td>
						<td>{{uli.item_description}}</td>
						<td>{{uli.item_type}}</td>
						<td>{{uli.lost_place}}</td>
						<td>{{uli.lost_time}}</td>
						<td>{{uli.lost_date}}</td>
						<td>Rs {{uli.item_price}}</td>
						<td>{{uli.item_color}}</td>
						<td>{{uli.shape}}</td>
						<td>{{uli.author_name}}</td>
						<td>{{uli.company_type}}</td>
						<td>
							<a class="btn btn-primary  btn-sm btn-block" href="{% url 'lostreportupdate' uli.pk %}">Edit</a>
							<a class="btn btn-primary  btn-sm btn-block" href="{% url 'lostreportdelete' uli.pk %}">Remove</a>
						</td>
                        <td><a class="btn btn-primary  btn-sm btn-block" href="{% url 'matchpageresult' uli.pk %}">Remove</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	
</div>
    {% endif %}
    {% if not itemsfound and not items  %}
        <h1>No data found</h1>
    {% endif %}

    <br>
        <a class="btn btn-primary  btn-sm btn-block" href="{%  url 'lfihome' %}">Go Back</a>

{% endblock content %}
